<div class="min-h-screen bg-gray-50 p-6 pb-24 " style="padding: 0px;">
  <div class="flex gap-6" style="background-color: #d74c1029;
    gap: 16px;height: 100vh;overflow: hidden;
    padding: 75px 10px 15px 10px;
">
    <!-- Column 1 (25%) -->
     <div class="column-progress" >
      <app-progress-column ></app-progress-column>
     </div>
 

    <!-- Column 2 (50%) -->
    <div class="rounded-lg shadow-sm p-8 column-forms glass-card" style="background: white;overflow: auto;">
      <ng-container [ngSwitch]="activeComponent">
        <app-work-history *ngSwitchCase="'work-history'"></app-work-history>
        <app-personal-info *ngSwitchCase="'personal-info'"></app-personal-info>
        <app-education-details *ngSwitchCase="'education-details'"></app-education-details>
        <app-skills *ngSwitchCase="'skills'"></app-skills>
        <app-summary *ngSwitchCase="'summary'"></app-summary>
  
      </ng-container>
    </div>

    <!-- Column 3 (25%) -->
     <div class="column-preview">
      <app-preview-column [previewData]="previewData"></app-preview-column>
     </div>
   
  </div>

  <!-- Navigation Component -->
  <!-- <app-navigation [currentSection]="currentSection"></app-navigation> -->
</div> 