<!-- <button (click)="downloadPDF()">Download PDF</button> -->
 <ng-container > 
<div class="executive-template" style="margin: 10px 5px 35px;
border: 2px solid #d5d5d5;
"> 
    <div class="executive-resume"  id="resume-content"  #resumeTemplate>
      <div class="executive-sidebar">
        <h1>{{formData.firstName }}  {{formData.lastName}}</h1>
        <div class="executive-summary">
          <h2>Contacts</h2>
          <ul style="list-style-type: disc;">
            <li *ngFor="let contact of ContactDetails">{{contact}}</li>
          </ul>
        </div>
        <div class="executive-skills">
          <h2>CORE SKILLS</h2>
          <ul>
            <li > angular </li>
            <li > node</li>
            <li >mogodb</li>
            <li >node</li>
          </ul>
        </div>
      </div>
      <div class="executive-main">
        <div  class="executive-section">
          <h2>PROFESSIONAL EXPERIENCE</h2>
          <div ></div>
        </div>
        <div  class="executive-section">
          <h2>EDUCATION</h2>
          <div ></div>
        </div>
      </div>
    </div>
  </div>
 </ng-container>